[user]
	name = Jason Blevins
	email = jrblevin@sdf.org

[alias]
        br = branch
        st = status
        co = checkout
        ci = commit
        rlog = log --pretty=format:\"%h %Cblue%cr%Creset %cn %Cgreen%s%Creset\"
        plog = log --graph --decorate --pretty=oneline --abbrev-commit --color
        lg = log -p
        df = diff
        dc = diff --cached
        ldiff = difftool -t latex

[color]
        ui = auto

[push]
	default = current

[core]
	excludesfile = ~/.gitignore

[difftool.latex]
        cmd = git-latexdiff "$LOCAL" "$REMOTE"

[difftool]
        prompt = false
