[user]
	name = Jason Blevins
	email = jblevins@xbeta.org
	signingkey = 7F569169

[alias]
        br = branch
        st = status
        co = checkout
        ci = commit
        rlog = log --pretty=format:\"%h %Cblue%cr%Creset %cn %Cgreen%s%Creset\"
        plog = log --graph --decorate --pretty=oneline --abbrev-commit --color
        lg = log -p
        df = diff
        dc = diff --cached
        ldiff = difftool -t latex

[color]
        ui = auto

[push]
	default = current

[core]
	excludesfile = ~/.gitignore

[diff]
        tool = Kaleidoscope

[difftool]
        prompt = false

[difftool "Kaleidoscope"]
        cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool.latex]
        cmd = git-latexdiff "$LOCAL" "$REMOTE"

[merge]
        tool = Kaleidoscope

[mergetool "Kaleidoscope"]
        cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
        trustExitCode = true
